<% title = "Let's practice English!" %>
<% button_text = "Start" %>

<main class="flex flex-col items-center justify-center h-screen bg-white">
  <h1 class="text-6xl font-semibold mb-12"><%= title %></h1>
</main>