<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <% @practice_parts.each do |practice_part| %>
      <tr>
        <th><%= practice_part.number %></th>
        <td><%= practice_part.title %></td>
        <td><a href="./practices" class="btn btn-link">Play</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
